html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
/**header**/
.fondoHeader{
    background-image: url("../img/torre-del-oro3-1920x1080-1.webp");
    height: 100vh;
    background-size: cover;
    background-position: 53% 0%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
/**no me permitio tener los elementos sobre before :'V
.menuHeader::before{
    content: ''; 
    width: 100%;
    height: 100vh;
    background-color: rgba(74, 133, 139, 0.4);
    position: absolute;
    z-index: 2;
}
**/
header img{
    margin-top: 1.5rem;
}
.menuHeader{
    display: flex;
    justify-content: space-between;
    width: 120rem;
    margin: 0 auto;
}
.paraHover a:hover{
    color:white;
    
}
.paraHover a{
    text-decoration: none;
    color: white;
}
.palabras{
    display: flex;
    margin-top: 3rem;
    font-family: sans-serif;
}
.paraHover{
    flex-basis: 34%;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    margin-right: 3.5rem;
}
.interactivo{
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    display: flex;
    justify-content: space-around;
    width: 50rem;
}
.A{
    padding-left: 2rem;
    margin-right: 0.9rem;
    margin-left: 1.5rem;
    border: none;
    border-radius: 1.7px;
}
.interactivo button{
    background-color: #1a6c7a;
    border: none;
    color: white;
    padding: 0 3.4rem ;
    font-family: sans-serif;
    font-size:large;
}
.E{
    background-color: #1a6c7a;
    border: none;
    padding: 0 0 0 6rem;
}
.titulosHeader h1{
font-size: 5rem;
font-family: sans-serif;
color: white;
}
.titulosHeader h2{
    font-family: sans-serif;
    color: white;
    font-size: 3rem;
}
.titulosHeader p{
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}
.titulosHeader button{
    background: #fff0;
    color: white;
    border: solid 0.2rem;
    font-family: sans-serif;
    font-size: medium;
    padding: 0.6rem 2rem 0.6rem 2rem;
}
.titulosHeader{
    margin: 0 auto;
    text-align: center;
    width: 78rem;
    margin-top: 10rem
}
/**fin header**/

/**main**/
.contenedorMain{
    background-color: #fff;
    height: 43rem;
}
.imagenesViajes{
    display: flex;
    justify-content: space-around;
    margin-top: 11rem;
}
.imagenesViajes img{
    height: 35rem;
    width: 32rem;
}
.logo{
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.textoImagen{
    display: flex;
    position: relative;
    transform: translate(1%, -1000%);
    width: 112rem;
    justify-content: space-between;
    margin: 0 auto;
}
.textoImagen a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 32px;
    height: 2rem;
}
/**fin main**/

/**seginda parte body**/
.segundaParteBody{
    background-color: #f3f9fb;
}
.titulo2{
    width: 120rem;
    height: 11rem;
    background-color: #105763;
    margin: 0 auto;
}
.titulo2 h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding-top: 3.8rem;
}
.fotosYtexto{
    width: 120rem;
    margin: 0 auto;
}