html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
/**header**/
.fondoHeader{
    background-image: url("../img/torre-del-oro3-1920x1080-1.webp");
    height: 100vh;
    background-size: cover;
    background-position: 53% 0%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
/**no me permitio tener los elementos sobre before :'V
.menuHeader::before{
    content: ''; 
    width: 100%;
    height: 100vh;
    background-color: rgba(74, 133, 139, 0.4);
    position: absolute;
    z-index: 2;
}
**/
header img{
    margin-top: 1.5rem;
}
.menuHeader{
    display: flex;
    justify-content: space-between;
    width: 120rem;
    margin: 0 auto;
}
.paraHover a:hover{
    color:rgb(255, 255, 255);
    
}
.paraHover a{
    text-decoration: none;
    color: #ffffffBf;
}
.palabras{
    display: flex;
    margin-top: 3rem;
    font-family: sans-serif;
}
.paraHover{
    flex-basis: 34%;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    margin-right: 3.5rem;
}
.interactivo{
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    display: flex;
    justify-content: space-around;
    width: 50rem;
}
.A{
    padding-left: 2rem;
    margin-right: 0.9rem;
    margin-left: 1.5rem;
    border: none;
    border-radius: 1.7px;
}
.interactivo button{
    background-color: #1a6c7a;
    border: none;
    color: white;
    padding: 0 3.4rem ;
    font-family: sans-serif;
    font-size:large;
}
.E{
    background-color: #1a6c7a;
    border: none;
    padding: 0 0 0 6rem;
}
.titulosHeader h1{
font-size: 5rem;
font-family: sans-serif;
color: white;
}
.titulosHeader h2{
    font-family: sans-serif;
    color: white;
    font-size: 3rem;
}
.titulosHeader p{
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}
.titulosHeader button{
    background: #fff0;
    color: white;
    border: solid 0.2rem;
    font-family: sans-serif;
    font-size: medium;
    padding: 0.6rem 2rem 0.6rem 2rem;
}
.titulosHeader button:hover{
    background: #153243;
    color: #ffffff;
    border: none;
}
.titulosHeader{
    margin: 0 auto;
    text-align: center;
    width: 78rem;
    margin-top: 10rem
}
/**fin header**/

/**main**/
.contenedorMain{
    background-color: #fff;
    height: 43rem;
}
.imagenesViajes{
    display: flex;
    justify-content: space-around;
    margin-top: 11rem;
}
.imagenesViajes img{
    height: 35rem;
    width: 32rem;
}
.logo{
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
.textoImagen{
    display: flex;
    position: relative;
    transform: translate(1%, -1000%);
    width: 112rem;
    justify-content: space-between;
    margin: 0 auto;
}
.textoImagen a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 32px;
    height: 2rem;
}
.textoImagen a:hover{
    color: #BFD1FF;
}
/**fin main**/

/**seginda parte body**/
.segundaParteBody{
    background-color: #f3f9fb;
    font-family: sans-serif;
}
.titulo2{
    width: 120rem;
    height: 11rem;
    background-color: #105763;
    margin: 0 auto;
}
.titulo2 h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding-top: 3.8rem;
}
.fotosYtexto{
    width: 120rem;
    margin: 0 auto;
}
.imagen img{
    width: 38rem;
    height: 22rem;
}
.fila1{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.fila2{
    display: flex;
    justify-content: space-around;
}
.card{
    flex-basis: 50%;
}
.texto{
    font-size: 1.3rem;
    width: 34rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.texto p{
    font-size: 1.8rem;
    color: #3A3A3A;
    margin-top: 3rem;
}
.texto a{
    color: #105763;
    font-size: 2rem;
    text-decoration: none;
}
.texto button{
    margin-top: 1.5rem;
    padding: 0.9rem 3rem;
    border: none;
    background-color: #1a6c7a;
    color: white;
}
button:hover{
    color: black;
    background: #BFD1FF;;
}
.paraAfter a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #3A3A3A;
    margin-top: 6rem;
    font-size: smaller;
    margin-bottom: 1rem;
}
.paraAfter::after{
    content: '';
    display: block;
    width: 11rem;
    height: .2rem;
    background-color: #3A3A3A;
    margin: 0 auto;
}
/**fin segunda parte de body**/

/**tercera parte body**/
.fondoNuestraHistoria{
    background-image: url('../img/fogs-on-green-mountain-1054222.webp');
    height: 96vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    background-color: rgba(0.8, 500, 87, 0.3);
}

.fondoNuestraHistoria::before{
    content: "";
    height: 96vh;
    width: 100%;
    background-color: rgba(0.8, 70, 87, 0.9);
    position: absolute;
    opacity: .6;
}
.textoConocenos{
    margin: 0 auto;
    text-align: center;
    width: 64rem;
    position: relative;
    transform: translate(1%, 80%);
    color: #ffffff;
}
.textoConocenos p{
    margin-top: 2rem;
    font-size: 120%;
}
.textoConocenos button{
    margin-top: 3rem;
    background: #fff0;
    color: white;
    border: solid 0.2rem;
    font-family: sans-serif;
    font-size: medium;
    padding: 0.6rem 2rem 0.6rem 2rem;
}
.textoConocenos button:hover{
    color: black;
    border: solid #f3f9fb;
    background: #f3f9fb
}
/**fin tercera parte body**/

/**footer**/
.parte1{
    background-color: #ffffff;
    height: 15rem;
    border-bottom: solid #BFD1FF .1rem;
}
.parte1 img{
    margin-top: 4.5rem;
}
.parte2{
    background-color: #ffffff;
    height: 11rem;
}
.asuntosLegales{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 40rem;
    margin: 0 auto;
    margin-top: 1.7%;
}
.asuntosLegales a{
    text-decoration: none;
    color: #000000;
    font-family: sans-serif ;
}
.asuntosLegales a:hover{
    color: #1a6c7a;
}
.parte2 p{
    margin-left: 9rem;
    margin-top: 5rem;
    color: #3A3A3A;
    font-family: sans-serif;
}
.redesSociales{
    display: flex;
}
.logoPrincipal{
    margin-left: 9rem;
}
.redes{
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin-right: 42.7%;
    margin-top: 2.5rem;
}
.redes svg{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.2rem;
    margin-top: 1.3rem;
}
.LGO{
    background-color: #1a6c7a;
    fill: #fff;
    width: 4rem;
    height: 4rem;
}
.LGO:hover{
    background: #105763;
}
.linea {
    border-right: solid #3A3A3A .2rem;
}
